<div class="card-category">
  <h3><%= @list.name %></h3>
</div>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<div class="card-movie">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-movie-infos">
    <div>
      <h2>Title</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-movie-delete">Delete</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-movie-user" />
  </div>
</div>
